{% extends 'head.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Produto
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Salvar">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}