{% load static %}
<!DOCTYPE html>
<html> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Bingo One page parallax responsive HTML Template ">
  
  <meta name="author" content="Themefisher.com">

  <title>Bingo | Responsive Multipurpose Parallax HTML5 Template</title>

<!-- Mobile Specific Meta
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href= "{% static 'images/favicon.png' %}"/>
  
  <!-- CSS
  ================================================== -->
  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href= "{% static 'plugins/themefisher-font/style.css' %}">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href=" {% static 'plugins/bootstrap/css/bootstrap.min.css' %} "> 
  <!-- Lightbox.min css -->
  <link rel="stylesheet" href=" {% static 'plugins/lightbox2/dist/css/lightbox.min.css' %}">
  <!-- animation css -->
  <link rel="stylesheet" href="{% static 'plugins/animate/animate.css' %}">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="{% static 'plugins/slick/slick.css' %}">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">  

</head>

<body id="body">

 <!--
  Start Preloader
  ==================================== -->
  <div id="preloader">
    <div class='preloader'>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div> 
  <!--
  End Preloader
  ==================================== -->


  

<!--
Fixed Navigation
==================================== -->
<header class="navigation fixed-top">
  <div class="container">
    <!-- main nav -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- logo -->
      </a>
      <!-- /logo -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item dropdown active">
            <a class="nav-link" href="about.html">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="about.html">Sobre nós</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="service.html">Services</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="portfolio.html">Locais Históricos</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="contact.html">Contato</a>
          </li>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- /main nav -->
  </div>
</header>
<!--
End Fixed Navigation
==================================== -->


	<div class="hero-slider">
	<div class="slider-item th-fullpage hero-area" style="background-image: url({% static 'images/slider/slider-bg-2.jpg' %});"> 
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Conheça as empresas da Região</h1>
					<p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5">Conheças as empresas do próspero Sertão</p>
					<a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8"  class="btn btn-main" href="service.html">Venha Conhecer</a>
				</div>
			</div>
		</div>
	</div>
</div>




<!--
Start About Section
==================================== -->

<!--
Start About Section
==================================== -->
<section class="about-2 section" id="about">
	<div class="container">
		<div class="row">

			<!-- section title -->
			<div class="col-12">
				<div class="title text-center">
					<h2>Tudo sobre o Alto Sertão Produtivo</h2>
					<p>Tudo o que for relacionado a nossa região você pode encontra aqui <br></p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->

			<div class="col-md-6">
				<img src="  {% static 'images/about/about-2.jpg' %} " class="img-fluid" alt="">
			</div>
			<div class="col-md-6">
				<ul class="checklist">
					<li>As melhores Empresas.</li>
					<li>Os melhores produtos.</li>
				</ul>
			</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->
<section class="about-2 section" id="about">
	<div class="container">
		<div class="row">

			<!-- section title -->
			<div class="col-12">
				<div class="title text-center">
					<h2>Venha ser nosso parceiro</h2>
					<p>Você que tem uma empresa e acha que está sem visibilidade? Venha ser nosso parceiro e ter seus produtos e serviços disponíveis no maior site da região!!
          <br>E o melhor... Tudo isso de graça.
          <br>Faça seu cadastro hoje mesmo e trilhe seu caminho para o sucesso.</p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->

			<div class="col-md-6">
				<img src=" {% static 'images/about/sucesso.jpeg' %}" class="img-fluid" alt=""> 
			</div>
			<div class="col-md-6">
				<ul class="checklist">
					<li>Maior visibilidade.</li>
					<li>Maior site da Região!!</li>
					<li>Suporte da Nossa Equipe Especializada</li>
					<li>Tudo isso e muito mais de graça!!</li>
				</ul>
			</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->
<!--
Start Call To Action
==================================== -->   <!-- End section -->

<!--
		Start Counter Section
		==================================== -->

<!-- Start Testimonial
=========================================== -->
		

<!--
		Start Blog Section
		=========================================== -->


<footer id="footer" class="bg-one">
  <div class="footer-bottom">
  </div>
</footer> <!-- end footer -->


    <!-- end Footer Area
    ========================================== -->
    

    
    <!-- 
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src=" {% static 'plugins/jquery/jquery.min.js' %} "></script> 
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script> 
    <script  src="{% static 'plugins/google-map/gmap.js' %} "></script>

    <!-- Form Validation -->
    <script src="{% static 'plugins/form-validation/jquery.form.js' %} "></script> 
    <script src=" {% static 'plugins/form-validation/jquery.validate.min.js' %}"></script> 
    
    <!-- Bootstrap4 -->
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js"' %} ></script>
    <!-- Parallax 
    <script src="{% static 'plugins/parallax/jquery.parallax-1.1.3.js' %} "></script> 
    <!-- lightbox -->
    <script src=" {% static 'plugins/lightbox2/dist/js/lightbox.min.js' %}"></script> 
    <!-- Owl Carousel -->
    <script src=" {% static 'plugins/slick/slick.min.js' %}"></script> 
    <!-- filter -->
    <script src="{% static 'plugins/filterizr/jquery.filterizr.min.js' %} "></script> 
    <!-- Smooth Scroll js -->
    <script src="{% static 'plugins/smooth-scroll/smooth-scroll.min.js' %} "></script> 
    
    <!-- Custom js -->
    <script src=" {% static 'js/script.js' %}"></script> 

  </body>
  </html>
